:root{
    --background-dark: #1c2029;
    --text-light: rgba(255,255,255,0.6);
    --text-lighter: rgba(255,255,255,0.9);
    --spacing-s: 8px;
    --spacing-m: 16px;
    --spacing-l: 24px;
    --spacing-xl: 32px;
    --spacing-xxl: 64px;
    --width-container: 1200px;
}
  
*{
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    margin-top:20px;
    height:60px;
    padding:5px 10px;
    text-align: center;
    font-family:'Comfortaa',sans-serif;
}
  
html{
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}
  
body{
    height: 100%;
}
  
.hero-section{
    align-items: center;
    background-image: linear-gradient(15deg, #0b3148 0%, #2a6973 150%);
    display: flex;
    min-height: 100%;
    justify-content: center;
    padding: var(--spacing-xxl) var(--spacing-l);
}
  
.card-grid{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: var(--spacing-l);
    grid-row-gap: var(--spacing-l);
    max-width: var(--width-container);
    width: 100%;
}
  
@media(min-width: 540px){
    .card-grid{
      grid-template-columns: repeat(2, 1fr); 
    }
}
  
@media(min-width: 960px){
    .card-grid{
      grid-template-columns: repeat(4, 1fr); 
    }
}
  
.card{
    list-style: none;
    position: relative;
}
  
.card:before{
    content: '';
    display: block;
    padding-bottom: 150%;
    width: 100%;
}
  
.card__background{
    border-radius: var(--spacing-l);
    bottom: 0;
    filter: brightness(0.75) saturate(1.2) contrast(0.85);
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform-origin: center;
    transform: scale(1) translateZ(0);
    transition: 
      filter 200ms linear,
      transform 200ms linear;
}

#card0{
    background: linear-gradient(#FF9B50, #922e23);
}

#card1{
    background: linear-gradient(#F4E869, #004225);
}

#card2{
    background: linear-gradient(#97FFF4, #2c659a);
}

#card3{
    background: linear-gradient(#f3f03d, #ad8425);
}
  
.card:hover .card__background{
    transform: scale(1.05) translateZ(0);
}
  
.card-grid:hover > .card:not(:hover) .card__background{
    filter: brightness(0.5) saturate(0) contrast(1.2) blur(20px);
}
  
.card__content{
    left: 0;
    padding: var(--spacing-l);
    position: absolute;
    top: 0;
}

.card-grid:hover > .card:not(:hover) .card__content{
    filter: blur(20px);
}
  
.card__category{
    color: var(--text-light);
    font-size: 0.9rem;
    margin-bottom: var(--spacing-s);
    text-transform: uppercase;
}
  
.card__heading{
    color: var(--text-lighter);
    font-size: 1.9rem;
    text-shadow: 2px 2px 20px rgba(0,0,0,0.2);
    line-height: 1.4;
    word-spacing: 100vw;
}

.ex_buttons {
	position: relative;
	z-index: 2;
	padding: 1em 2em;
	color: white;
	border: none;
	cursor: pointer;
	background: none;
	overflow: hidden;
	text-shadow: 2px 2px 5px rgba(0,0,0,.4);
}

.ex_buttons::before, .ex_buttons::after {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	content: '';
	z-index: -1;
	transform: skewX(45deg);
	transition: all .25s ease;
}

#ex0::before {
	background: #5073b8;
	left: 50%;
}

#ex0::after {
	background: #a166ab;
	right: 50%;
}

#ex1::before {
	background: #F9F3CC;
	left: 50%;
}

#ex1::after {
	background: #D7E5CA;
	right: 50%;
}

#ex2::before {
	background: #D80032;
	left: 50%;
}

#ex2::after {
	background: #F78CA2;
	right: 50%;
}

#ex3::before {
	background: #352F44;
	left: 50%;
}

#ex3::after {
	background: #5C5470;
	right: 50%;
}

#ex0:hover:before {
	left: 100%;
}

#ex0:hover:after {
	right: 100%;
}

#ex1:hover:before {
	left: 100%;
}

#ex1:hover:after {
	right: 100%;
}

#ex2:hover:before {
	left: 100%;
}

#ex2:hover:after {
	right: 100%;
}

#ex3:hover:before {
	left: 100%;
}

#ex3:hover:after {
	right: 100%;
}

.ex_choosers{
    margin:0 auto;
    width:auto;
    display:flex;
    align-content:space-evenly;
}

.basket{
    font-family:'Comfortaa',sans-serif;
    padding:15px 10px;
    background-color:#a166ab;
}

.filtarr{
    font-family:'Comfortaa',sans-serif;
    background-color:#ad8425;
    padding:15px 10px;
}

.list-creation{
    background-color:#a166ab;
    padding:15px 10px;
    font-family:'Comfortaa',sans-serif;
}

.notification {
    position: fixed;
    top: 0.5rem;
    right: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color: hsl(0, 0%, 20%);
    overflow-x: hidden;
    padding: 0.25rem;
    z-index:9;
    font-family:'Comfortaa',sans-serif;
  }
  
  .notification__bell {
    display: block;
    width: 48px;
    height: auto;
    fill: hsl(0, 0%, 100%);
  }

  .notification.received .bell__body {
    animation: swingBody 0.7s 0.02s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  }
  .notification.received .bell__clapper {
    animation: swingClapper 0.7s 0.04s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  }

  @keyframes swingBody {
    25% {
      transform: rotate(-5deg);
    }
    75% {
      transform: rotate(5deg);
    }
  }

  @keyframes swingClapper {
    5% {
      transform: rotate(0deg);
    }
    30% {
      transform: rotate(-8deg);
    }
    80% {
      transform: rotate(8deg);
    }
  }
  
  .notification__message {
    display: grid;
    grid-gap: 0.2rem;
    grid-template-columns: 1fr auto;
    padding: 0.5rem 1rem;
    margin: 1rem 0;
    background: hsl(0, 0%, 100%);
    border-radius: 10px;
    box-shadow: 0 0 5px hsla(0, 0%, 0%, 0.1), 0 2px 3px hsla(0, 0%, 0%, 0.1);
    border-left: 0.5rem solid hsl(0, 0%, 100%);
    transform: translateX(100%);
    opacity: 0;
    visibility: hidden;
    transition-property: transform, opacity, visibility;
    transition-duration: 0.7s;
    transition-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
  }
  .notification__message h1 {
    font-size: 1.1rem;
    font-weight: 500;
    text-transform: capitalize;
  }
  .notification__message p {
    max-width: 320px;
    font-size: 0.8rem;
    grid-column: 1/-1;
  }
  .notification__message button {
    background: none;
    border: none;
    color: inherit;
    width: 20px;
    height: 20px;
    grid-column: 2/3;
    grid-row: 1/2;
    align-self: center;
  }
  .notification__message button svg {
    display: block;
    width: 100%;
    height: 100%;
  }
  
  .notification.received .notification__message {
    transform: translateX(0%);
    opacity: 1;
    visibility: visible;
  }
  
  .message--info {
    border-left-color: #90dee9;
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><circle stroke="none" fill="%2390dee9" cx="50" cy="22" r="8"></circle><path fill="none" stroke="%2390dee9" stroke-width="12" stroke-linejoin="round" stroke-linecap="round" d="M 45 40 h 5 v 40 h -5 h 10"></path></svg>'),
      hsl(0, 0%, 100%);
    background-repeat: no-repeat;
    background-size: 35px;
    background-position: 100% 100%;
  }
  .message--success {
    border-left-color: hsl(120, 67%, 74%);
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><path fill="none" stroke="%2390e990" stroke-width="12" stroke-linejoin="round" stroke-linecap="round" d="M 20 52 l 25 25 l 30 -50"></path></svg>'),
      hsl(0, 0%, 100%);
    background-repeat: no-repeat;
    background-size: 35px;
    background-position: 100% 100%;
  }
  .message--warning {
    border-left-color: hsl(54, 67%, 74%);
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><path fill="none" stroke="%23e9e090" stroke-width="12" stroke-linejoin="round" stroke-linecap="round" d="M 50 18 v 40"></path><circle stroke="none" fill="%23e9e090" cx="50" cy="78" r="8"></circle></svg>'),
      hsl(0, 0%, 100%);
    background-repeat: no-repeat;
    background-size: 35px;
    background-position: 100% 100%;
  }
  .message--danger {
    border-left-color: hsl(0, 67%, 74%);
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g transform="translate(50 50) rotate(45)"><path fill="none" stroke="%23e99090" stroke-width="12" stroke-linejoin="round" stroke-linecap="round" d="M 0 -30 v 60 z M -30 0 h 60"></path></g></svg>'),
      hsl(0, 0%, 100%);
    background-repeat: no-repeat;
    background-size: 35px;
    background-position: 100% 100%;
  }