*{
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    height: 100%;
}

body{
    height: 100%;
    background-color:#24262b;
    font-family:'Comfortaa',sans-serif;
    color:antiquewhite;
    font-size:20px;
}

#topper{
    display:flex;
    justify-content:center;
    align-items:center;
    height:15vh;
}

h1{
    text-align: center;
    font-family:'Comfortaa',sans-serif;
    background-color:#24262b;
    font-size:32px;
}

.exercises div{
    width:100%;
    border-style:solid;
    border-width:4px;
    border-bottom-width:2px;
    border-color:antiquewhite;
    padding:15px;
    line-height:2.5em;
}

#exr3{
    border-bottom-width:4px;
}

#answers{
    margin-top:20px;
}

.ans{
    background-color:antiquewhite;
}

#finalbutton{
    padding:10px;
    font-family:'Comfortaa',sans-serif;
    background-color:antiquewhite;
}

@media screen and (max-width:1080px){
    h2{
        font-size:24px;
    }
    body{
        font-size:20px;
    }
    .exercises div{
        line-height:2em;
    }
}